@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
.homeContainer {width: 100%; height: 100vh; display: flex;}

.demonContainer, .angelContainer {width: 50%; height: 100%;}

.angelContainer {display: flex; justify-content: center; align-items: flex-end;}
.angelContainer img {height: 90%;}
.angelContainer h1 {position: absolute; top: 20px; right: 50px; margin: 0%; font-family: 'Bubblegum Sans', cursive;}
.angelContainer:hover {overflow: hidden; box-shadow: -10px 0px 30px rgba(245, 171, 10, 0.8); cursor: pointer;}
.angelContainer:hover img {transform: scale(1.2); transition: .4s;}
.angelContainer:hover h1 {color: rgba(245, 171, 10, 0.8); font-size: 50px; transition: .4s;}

.demonContainer {background-color: black; display: flex; justify-content: center; align-items: flex-end; color: white;}
.demonContainer h1 {position: absolute; top: 20px; left: 50px; margin: 0%; font-family: 'Bubblegum Sans', cursive;}
.demonContainer:hover {overflow: hidden; box-shadow: 10px 0 30px rgba(178, 7, 16, 0.8); cursor: pointer;}
.demonContainer:hover img {transform: scale(1.2); transition: .4s;}
.demonContainer:hover h1 {color: rgba(178, 7, 16, 0.8); font-size: 50px; transition: .4s;}
.demonContainer img {height: 90%;}